
html, body {
  height: 100%;
}

a {
  color: rgb(50,50,50);
}

/* ========================================================================
                                  HOME:
=========================================================================== */

#home {
  height: 100%;
  font-family: 'Indie Flower', cursive;
}

#background-paint {
  height: 100%;
  background-image: url("../images/background-home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#box1 {
  background-color: rgb(190,190,190);
  margin-top: 70px;
}

#box2 {
  background-color: rgb(190,190,190);
  margin-top: 60px;
}

#box3 {
  background-color: rgb(190,190,190);
  margin-top: 30px;
}

#box4 {
  background-color: rgb(190,190,190);
  margin-top: 120px;
}

/* ========================================================================
                                  ABOUT:
=========================================================================== */

#about {
  height: 100%;
}

#background-bulbs {
  height: 100%;
  background-image: url("../images/background-bulbs.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

#about-box {
  margin-top: 180px;
  margin-bottom: 200px;
  background-color: rgba(255, 255, 255, 0.92);
}

#about-title {
  font-family: 'Permanent Marker', cursive;
}

#about-description {
  font-family: 'Rancho', cursive;
}

#about-list {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Arima Madurai', serif;
}
